* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #eaeaea;
}

img {
	max-width: 100%;
	display: block;
}

.container {
	max-width: 64rem;
	margin: 0 auto;
	padding: 1rem;
	background-color: #fff;
}
