* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #eaeaea;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 1rem;
}

.navbar {
	display: flex;
	gap: 1rem;
	& .navbar__link:hover {
		text-decoration: underline;
	}
}

.container {
	max-width: 64rem;
	margin: 0 auto;
	padding-inline: 1rem;
	background-color: #fff;
}

.card-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 1rem;
	padding-bottom: 1rem;
}
.card {
	border-radius: 1rem;
	border: 1px solid #bababa;
	padding: 1rem;
	& .card__title {
		text-wrap: balance;
	}
}

.product-list__header {
	display: grid;
	grid-template-columns: 30rem 6rem 1fr;
	font-weight: bold;
	padding: 0.6rem;
	border-bottom: 1px solid #cecece;
}

.product-list__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.6rem;
}

.product-list__item:nth-child(odd) {
	background-color: #e6e6e6;
}

.product-list__content {
	display: grid;
	grid-template-columns: 30rem 6rem 1fr;
}

.footer {
	background-color: #333;
	color: #fff;
	padding-block: 1rem;
}
