<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<div class="container">
		<h1 class="title"><%= title %></h1>
		<div class="card-group">
		<% if(products.length === 0) { %>
			<span>No se han encontrado productos</span>
		<% } else { products.forEach(product =>{ %>
			<%- include('partials/components/product-component.html', { product: product }) %>
		<% })} %>
		</div>

	</div>
</body>
</html>