<%- include('partials/start-page.html', {title: title}) %>
<%- include('partials/components/header-component.html') %>
<main>
	<div class="mx-auto max-w-full px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
		<header>
			<h2 class="text-xl font-bold text-gray-900 sm:text-3xl"><%= title %></h2>

		</header>

		

		<div class="mt-4 lg:mt-8 lg:grid lg:grid-cols-4 lg:items-start lg:gap-8">
			

			<div class="lg:col-span-3">
				<ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
					<% if(products.length===0) { %>
						<span>No se han encontrado productos</span>
					<% } else { products.forEach(product=>{ %>
						<%- include('partials/components/product-component.html', { product: product }) %>
					<% })} %>
				</ul>
			</div>
		</div>
	</div>
</main>
<%- include('partials/end-page.html') %>
